body {
    background-color: #fefcf6;
    margin: 0;
}
.headbar {
    width: 10;
    background-color: #f4efe6;
    display: flex;
    align-items: start;
    padding: 1rem;
    border-radius: 0.375rem;
}
.navbar {
    list-style: none ;
    display: flex;
    gap: 10px;
    text-align:end;
}
.navbar a {
    text-decoration: none;
    color: #686867;
}
button a {
    text-decoration: none;
}
.nav a {
    color: #f4efe6;
}
.nav button {
    background-color: #849281;
    border: none;
    color: #f4efe6;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.nav :hover {
    background-color: #5e6c5b;
    color: #f4efe6;
}

.nav :active {
    transform: scale(0.95);
}